

{% extends 'tasks/base.html' %}
{% block head_content %}
    
{% endblock head_content %}

{% block container %}
    <div class = 'container'>
        <div class="row">
            <a href="{% url "users:logout" %}">Logout</a>
        </div>
        {% if tasksList %}
            {% for task in tasksList %}
                {% include "tasks/task_card.html" %}
            {% endfor %}
        {% else %}
            <p>No hay tareas</p>
        {% endif %}
    </div>
{% endblock container %}
    