

{% extends 'tasks/base.html' %}
{% block head_content %}
    
{% endblock head_content %}

{% block container %}
    <div class = 'container'>
        <div class="row">
            <a href="{% url "users:logout" %}">Logout</a>
        </div>
        {% if tasksList %}
            {% for task in tasksList %}
            <div class="row">
                <div class="col-12 com-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card_tile">{{task.summary}}</h5>
                            <h6 class="card_subtile mb-2 text-muted">{{task.category}}</h6>
                            <p class="card-text">{{task.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <p>No hay tareas</p>
        {% endif %}
    </div>
{% endblock container %}
    